Package: [[artifactId]]
Version: [[version]]
Section: ${unix.package.group.name}
Priority: low
Architecture: all
Description: [[description]]
Maintainer: BAXTER Technologies <support@baxter-it.com>
Depends: yurconf-server ( >= ${yurconf.version} )
